<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-light background-color = #003366">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand text-white" href="http://www.nba.com">
            <img src="http://www.hdicon.com/wp-content/uploads/2010/07/nba.png" width="50" height="50">
            <b>NBA</b>
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item acitive">
                <a class="nav-link text-white" href="https://www.nba.com/scores#/">Scores
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item acitive ">
                <a class="nav-link text-white" href="https://stats.nba.com/schedule/">Schedule</a>
            </li>
            <li class="nav-item  acitive">
                <a class="nav-link text-white" href="https://www.nba.com/news">News</a>
            </li>
            <li class="nav-item  acitive">
                <a class="nav-link text-white" href="https://watch.nba.com/video/">Video</a>
            </li>
            <li class="nav-item  acitive">
                <a class="nav-link text-white" href="https://www.nba.com/nbatv">NBA TV</a>
            </li>
            <li class="nav-item  acitive">
                <a class="nav-link text-white" href="https://www.nba.com/players">Players</a>
            </li>
            <li class="nav-item  acitive">
                <a class="nav-link text-white" href="https://www.nba.com/teams">Teams</a>
            </li>
            <li class="nav-item  acitive">
                <a class="nav-link text-white" href="https://www.nba.com/preview#/">Season Preview</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>

<body>
    <h1 align="center" class="text-primary">
        <img src="http://www.hdicon.com/wp-content/uploads/2010/07/nba.png" width="100" height="100">
        NBA Online Club
    </h1>
    <h3 align="center" class="text-secondary">
        Welcome to NBA Online Club
    </h3>
    <br></br>
    <h4 align="center" class="text-secondary">Lastest Schedule</h4>
    <table class="table table-hover ">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Teams</th>
                <th scope="col">Arena</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Wednesday, October 4</th>
                <td>
                    <p>FINAL</p>
                </td>
                <td>
                    <p><a href="https://stats.nba.com/team/1610612752/traditional/">New York Knicks</a>
                    </p><a href="https://stats.nba.com/team/1610612751/traditional/"> Brooklyn Nets</a>
                </td>
                <td>
                    <p>Barclays Center</p>
                    Brooklyn, NY
                </td>
                <td>
                    <a href="https://stats.nba.com/game/0011800021/">Buy Tickets</a>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>FINAL</td>
                <td>
                    <p><a href="https://stats.nba.com/team/1610612752/traditional/">Chicago Bull</a>
                    </p><a href="https://stats.nba.com/team/1610612751/traditional/">Milwaukee Bucks</a>
                </td>
                <td>
                    <p>Fiserv Forum</p>
                    Milwaukee, WI
                </td>
                <td>
                    <a href="https://stats.nba.com/game/0011800022/">Buy Tickets</a>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>FINAL</td>
                <td>
                    <p><a href="https://stats.nba.com/team/1610612765/traditional/">Detroit Pistons</a></p>
                    <a href="https://stats.nba.com/team/1610612760/traditional/">Oklahoma City Thunder</a>
                </td>
                <td>
                    <p>Chesapeake Energy Arena</p>
                    Oklahoma City, OK
                </td>
                <td>
                    <a href="https://stats.nba.com/game/0011800023/">Buy Tickets</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br></br>
    <h4 align="center" class="text-secondary">Lastest Scores</h4>
    <table class="table table-hover ">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Teams</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Wednesday,Oct 3</th>
                <td>8:00 PM ET</td>
                <td>
                    <p><a href="https://stats.nba.com/team/1610612754/traditional/">Indiana Pacers</a></p>
                    <a href="https://stats.nba.com/team/1610612745/traditional/">Houston Rockets</a>
                </td>
                <td class="font-weight-bold">
                    <p>102</p>
                    <font color="red">107</font>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>10:30 PM ET</td>
                <td>
                    <p><a href="https://stats.nba.com/team/1610612758/traditional/">Sacramento Kings</a></p>
                    <a href="https://stats.nba.com/team/1610612747/traditional/">Los Angeles Lakers</a>
                </td>
                <td class="font-weight-bold">
                    <p>82</p>
                    <font color="red">116</font>
                </td>
            </tr>
        </tbody>
    </table>
    <br></br>
    <hr width="75%"> <!--  horizontal rule-->
    <div class="ch" style="text-align:center">
        <img src="https://moneyinc.com/wp-content/uploads/2017/06/Michael-Jordan.jpg">
        <img src="https://s.cdn.turner.com/nba/nba/dam/assets/160810124719-2007-yao-iso-emotion-fist-pump.1280x720.jpg"
            align="middle" />

        <img src="https://amp.businessinsider.com/images/565f4f738430761a008b6e07-750-562.jpg">
    </div>
    <br></br>
    <footer id="footer">
        <p>Copyright ©️ 2018 Weichen Fake NBA Media Ventures, LLC. All rights reserved</p>
        <p>
            <a href="https://www.nba.com/news/privacy_policy.html" target="_blank">Privacy Policy | </a>
            <a href="https://www.nba.com/news/termsofuse" target="_blank">Terms of Use | </a>
            <a href="http://www.nba.com" target="_blank">AdChoices</a>

        </p>

    </footer>
</body>

</html>